/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";

:root {
	--primary: #021341;
	--blue-anglo: #004586;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
		rgba(var(--gray), 33%);
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--gray);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 16px;
	line-height: 1.7;
}

/* main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/images/background.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
} */

#post-content h1 {
	font-size: 2.25em;
	font-weight: 700;
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	line-height: 1.2;
}

#post-content h2 {
	font-size: 1.8em;
	font-weight: 700;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	line-height: 1.3;
}

#post-content h3 {
	font-size: 1.35em;
	font-weight: 700;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	line-height: 1.4;
}

#post-content h4 {
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}

#post-content h5 {
	font-size: 0.95em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 0.5em;
	line-height: 1.6;
}

#post-content h6 {
	font-size: 0.85em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 0.5em;
	line-height: 1.7;
}

strong,
b {
	font-weight: 700;
}

p.no-indent {
	text-indent: 0 !important;
}

#post-content p {
	font-size: 0.825rem;
	margin-bottom: 1em;
	text-indent: 1.5em;
}

@media (width >= 48rem) {
	#post-content p {
		font-size: 1rem;
	}
}

#post-content img {
	margin: auto;
	border-radius: 8px;
	max-width: 550px;
}

@media (width <= 575px) {
	#post-content img {
		max-width: 100%;
		height: auto;
	}
}

#post-content ol {
	list-style-type: decimal;
}

#post-content ul {
	list-style-type: disc;
	font-size: 16px;
}

#post-content li {
	margin-left: 12px;
}

audio {
	height: 36px;
    border: 1.5px solid black;
    border-radius: 18px;
}

audio::-webkit-media-controls-panel {
	background-color: white !important; /* Changes the background of the control panel */
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--blue-anglo);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border-top: 1px solid var(--primary);
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.c-bg-primary {
	background-color: var(--primary) !important;
}

.c-bg-accent-dark {
	background-color: var(--accent-dark) !important;
}

.c-bg-blue-anglo {
	background-color: var(--blue-anglo) !important;
}

.text-blue-anglo {
	color: var(--blue-anglo) !important;
}

.text-accent-dark {
	color: var(--accent-dark) !important;
}

a.subheader-link {
	padding-top: calc((var(--spacing) * 1) + 1px) !important;
}

main {
	flex-grow: 1;
}

.arrow {
	padding-bottom: 4px;
}

.img-em-construcao {
	height:100%;
	display:block;
	margin:auto;
}

@media (width <= 549px) {
	.img-em-construcao {
		max-width: 100%;
		height: auto;
	}
}