---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ColorCycleText from '../components/ColorCycleText.astro';
import { getEixosTematicos } from "../common/eixosTematicos";
---

<html lang="en">
	<head>
		<BaseHead title="RepertoriAnglo | Sobre Nós" description='Sobre Nós' />
		<style>
			.prose {
				max-width: calc(100% - 2em);
				min-height: calc(100vh - 222px);
				color: rgb(var(--gray-dark));
			}

			.prose p {
				text-align: justify;
			}
		</style>
	</head>

	<body style="min-height: 100vh; display: flex; flex-direction: column;">
		<Header hasSubheader />
		<main class="px-5" style="flex: 1;">
			<div id="background-image" class="fixed top-0 left-0 w-full h-full -z-10 opacity-15">
				<img src="/images/background.jpeg" alt="Background image" class="w-full h-full object-cover" />
			</div>
			<article>
				<div class="prose w-[800px] mx-auto xl:bg-[#ffffff66] py-6 md:px-6">
					<p>
						<img src="/images/alunos.png" alt="Hero Image" class="w-[90%] mx-auto mb-5" />
					</p>
					<p>
						O <strong><ColorCycleText text="RepertoriAnglo" /></strong> é um projeto criado pelos alunos do Ensino Médio do <strong class="text-blue-anglo">Colégio Anglo de Boituva</strong>, com a orientação dos professores responsáveis. A proposta nasceu da vontade de transformar o estudo para o vestibular em algo mais coletivo, acessível e conectado à realidade de quem também está passando por essa fase. Aqui, reunimos conteúdos produzidos pelos próprios estudantes — textos, análises e posts em diferentes formatos — que trazem repertórios organizados e aplicados aos eixos temáticos mais cobrados em redações de vestibulares.
					</p>
					<p>
						<img src="/images/fe.jpeg" alt="Prof. Fernanda Sgura" class="w-[40%] mx-auto my-5 rounded shadow-md border border-slate-300" />
					</p>
					<p>
						A <strong>professora Fernanda</strong>, docente de inglês, formada pelo <strong class="text-blue-anglo">Colégio Anglo de Boituva</strong> e graduada pela UNESP Araraquara, idealizou a eletiva Repertório Semanal ao identificar a necessidade de tornar o repertório produtivo para redação mais próximo do cotidiano dos alunos. Sua intenção é apresentar referências de forma leve e lúdica, incentivando a pesquisa como ferramenta de aprendizado.
					</p>

					<p>
						<img src="/images/gordon.jpeg" alt="Prof. Gustavo Gordon" class="w-[40%] mx-auto my-5 rounded shadow-md border border-slate-300" />
					</p>

					<p>
						O professor <strong>Gustavo Gordon</strong>, de Geografia, trouxe sua experiência em geopolítica e atualidades para fortalecer o projeto, com a ideia de fomentar discussões sobre temas contemporâneos e transformá-las em notícias e análises relevantes para adolescentes.
					</p>

					<p>
						Assim, o RepertoriAnglo se torna um espaço de estudo e partilha: feito por alunos, para alunos, com o apoio de professores que acreditam na importância de unir repertório, reflexão crítica e criatividade.
					</p>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
